<!DOCTYPE html>
<html>
<head>
	<title>goParking: Pay with PayTM</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/payment.css">
</head>
<body>

	<center><img src="/stylesheets/Paytm-QR-Code.png"></center>

	<br><br><br>

	<center><div id="box">
		<img src="/stylesheets/img-paytmaccepted-b0cd45e008.png">
		
		<br>
		<center style="font-size: 2.0em; border-bottom: 2px solid skyblue; width: 80%;">goParking</center>
		<br>
		<img src="/stylesheets/Screen Shot 2018-11-25 at 3.44.21 PM.png">

		<center style="font-size: 1.5em;">
			Amount: <%= booking.grandtotal %>
			<br>
			Registration Number: <%= booking.reg_no %>
		</center>
		<br><br>
	</div>
	</center>

</body>
</html>